<html>
  <body>
     <div class="center jumbotron">
         <h1><b>SCIENCE: ASTROPHYSICS</b></h1>
     </div>
     <h2><p>With a much more solid foundation in studying advanced physics for a couple of years, students now are at a point
     where they can combine their introductory astronomy studies with their physical knowledge to quantitatively study the evolution of 
     stars, galaxies, and other astrophysical phenomena.  What once seemed like coincidences early on in one's studies now seem more the 
     result of physics on the grandest of scales, such as the shapes of galaxies determined by their angular momentum and why spiral galaxies 
     are moving faster far out in the limbs than in the middle near the bulge.  But not everything is satisfactory; for each question that is answered 
     there is one that has not yet been satisfactorily solved.  These include dark matter and dark energy, a consistent model for the metallicity 
     of a given star, and why we observe systems that seem impossible from our physical models (such as "hot Jupiters").  It is safe to say that the 
     field of astrophysics will have researchers continuing to seek answers to these problems for many years to come.  
     </q></p></h2>
  </body>    
</html>