<html>
  <body>
     <div class="center jumbotron">
         <h1><b>SCIENCE: ASTRONOMY</b></h1>
     </div>
     <h2><p>The science of astronomy aims to explain the universe we live in, what it is comprised of, how things came to
     be, why things are how we perceive them, and what to expect in the future.  Through observation and interpretation, along with 
     the assertion that space is homogeneous (the same processes going on now are the same as they were in the past) and isotropic 
     (there is no preference for one location over another, i.e., our galaxy is in principle not 'special' when compared to the other 
     billions of galaxies in the universe) astronomers interpret the world we live in with respect to the universe that surrounds us.  Naturally, 
     much of the emphasis in astronomy centers on the Sun, the closest star to us and the one we know the most about; our own Solar System; and our 
     own galaxy, the Milky Way.  But studies extend far beyond what we consider our own local environment, and much can and has been learned about
     stellar composition, evolution, and formation simply through observations and their subsequent interpretations.  General (i.e., introductory 
     astronomy focuses on learning the fundamentals of our own Solar System, beginning with the Sun and the four terresterial (or rocky) planets
     as well as the four Jovian (or gaseous) planets.  After this, studies move on to include galactic formations from a general perspective, 
     offering interpretations for the most well known observations and introducing ideas and concepts that can be understood at a fundamental level.  </p></h2>
  </body>    
</html>