<html>
  <body>
     <div class="center jumbotron">
         <h1><b>SCIENCE: ELECTROMAGNETISM</b></h1>
     </div>
     <h2><p>One of the greatest triumphs in the history of science has been the synthesis of two seemingly disparate concepts, electricity
     and magnetism; into one single, coherent, and unified theory of electromagnetism or electrodynamics (when motion, including relativistic, 
     is considered).  Maxwell's Equations completely describe the electric and magnetic fields of any charge distribution under consideration, 
     and their inconsistency with Newtonian physics is what led Einstein to develop his theory of relativity (first special, meaning without 
     gravity; and then general to include gravity) and provide consistency between Maxwell's Equations and experimental observations.  There are many
     reasons why electromagnetism is introduced early in physics curriculum:  the theory is self-consistent;  it can be completely understood with 
     only limited mathematical knowledge; and the implications of how such a theory comes together into a unified and coherent structure often leaves 
     a lasting impression on students.  As such, electromagnetism and electrodynamics provide an excellent starting point for bridging the gap between 
     general and more intermediate and advanced physics studies.</p></h2>
  </body>    
</html>