<html>
  <body>
     <div class="center jumbotron">
         <h1><b>SCIENCE: FLUID DYNAMICS</b></h1>
     </div>
     <h2><p>Fluid dynamics studies the properties and characteristics of fluids in motion.  Generally a fluid is distinguished from a 
     solid, and is typically either a gas (compressible) or a liquid (incompressible).  FLuid dynamics is a very rich and intricate field
     of study, encompassing topics such as aerodynamics, turbulence, shock waves, gravity waves, just to name a few.  It is very mathematically
     involved and aside from a few introductory concepts is typically not included in an undergraduate cirriculum.  It's importance cannot be 
     understated however; everything from the motion of an airplane in the sky to a ship in the ocean can be modeled using fluid dynamics.  
     </p></h2>
  </body>    
  <br>
  <ul><u>Relativity Links</u>
  <li><a href=http://www.livescience.com/47446-fluid-dynamics.html>Live Science Fluid Dynamics</a></li>
  <li><a href=http://www.ldeo.columbia.edu/~martins/hydro/lectures/fluid_dynamics.html>Principles of Fluid Dynamics, Columbia University</a></li>
  </ul>
</html>