<html>
  <body>
     <div class="center jumbotron">
         <h1><b>SCIENCE: GENERAL PHYSICS</b></h1>
     </div>
     <h2><p>General physics introduces a new way of thinking about how the world around you works, described
     quantitatively by physical insight and qualitatively through mathematical analysis.  Though often covered in
     only an introductory manner, general physics courses cover a lot of information quickly and much of the learning 
     process is independent.  Rather than focusing on a specific area of emphasis, general physics covers many areas
     without a great deal of detail in any one particular category.  This is often a point of frustration for students 
     because they are expected to accept given formulae and results often without going through the derivation process.  
     The reason for this is that students in general physics courses are not expected to be equipped with the mathematical 
     machinery needed to prove the theorems and laws that are provided and used without derivation.  Much of the emphasis
     in general physics is learning how to think like a physicist, including the approach to problem solving and looking for 
     connections between topics that may otherwise seem unrelated.  General physics is intended to prepare students for what is to come.</p></h2>
  </body>    
  <br>
  <ul><u>General Physics Links</u>
  <li><a href=http://surendranath.tripod.com/Applets.html>General Physics Java Applets</a></li>
  <li><a href=http://surendranath.tripod.com/Applets.html>General Physics at Cosmo Learning</a></li>
  </ul>
</html>