<html>
  <body>
     <div class="center jumbotron">
         <h1><b>SCIENCE: MECHANICS, DYNAMICS, LAGRANGIAN, HAMILTONIAN</b></h1>
     </div>
     <h2><p>General physics introduces Newtonian mechanics and dynamics; that is to say, physics
     as formulated by Isaac Newton.  However, as is often the case in physical theories, there exist more
     than one way to arrive at the same solution.  Another system of mechanics and dynamics, known as Lagrangian
     and Hamiltonian physics, are more mathematically sophisticated models of the Newtonian concepts and both
     give the same results, but the Lagrangian and Hamiltonian methods have a much wider range of applicability and 
     often turn problems which are extraordinarily difficult within the Newtonian framework into much simpler and far 
     more tractable form to be solved.  Further, when moving onto further advanced physics courses such as quantum mechanics, 
     nuclear and particle physics, general relativity, and field theories the framework as developed in the Lagrangian and 
     Hamiltonian formulation of mechanics and dynamics makes the transition much less painful inasmuch as the approach is much 
     more abstract and, oddly, therefore helpful.</p></h2>
  </body>    
  <br>
  <ul><u>Largangian and Hamiltonian Dynamics Links</u>
  <li><a href=http://www.physicsinsights.org/lagrange_1.html>Lagrange Dynamics</li>
  <li><a href=http://iopscience.iop.org/0036-0279/32/4/R04>IOP Physics Structure of Hamiltonian Mechanics</li>
  </ul>
</html>