<html>
  <body>
     <div class="center jumbotron">
         <h1><b>SCIENCE: NUCLEAR AND PARTICLE PHYSICS</b></h1>
     </div>
     <h2><p>Taking up where quantum mechanics left off, the study of nuclear and particle physics offers 
     amazing new insight into the constituents of matter.  While the electron is considered an elementary particle, 
     the proton and neutron are not; being comprised of quarks which themselves carry fractional amounts of the standard 
     electrical charge.  An exciting new world of physics is opened up when students learn about particle accelerators and 
     study experimental results from highly energetic particles which collide with one another.  Though the particle itself may 
     not exist long enough to be observed visually, there are traces left, such as resonance widths that can be measured and shown
     to be certain, identifiable particles based on the direction of movement (i.e., charged or neutral) and radius of curvature 
     (which can be used to determine momentum).  This is an exciting field of active and ongoing research.  
     </p></h2>
     <br>
     <ul><u>Nuclear and Particle Physics Links</u>
     <li><a href=http://pdg.lbl.gov/>Particle Data Group</li>
     <li><a href=http://www.rarf.riken.go.jp/rarf/np/nplab.html>Virtual Library of Nuclear Physics</a></li>
     </ul>
  </body>    
</html>