<html>
  <body>
     <div class="center jumbotron">
         <h1><b>SCIENCE: QUANTUM MECHANICS</b></h1>
     </div>
     <h2><p>Quantum mechanics marks the departure from studying things with which we are familiar in 
     ordinary everyday experience into the realm which is difficult to conceptualize because there is no 
     analog of the quantum world in our everyday experience.  One of the basic tenets of quantum mechanics 
     is that the deterministic nature we had grown accustomed to is lost; everything at the quantum level is 
     inherently probabilistic.  Nothing can be determined with absolute certainty, only to within limits given 
     by the Heisenberg uncertainty principle.  This represents a radical departure from what has been heretofore 
     learned, and arguably much of the difficulty of learning quantum mechanics is realizing and accepting this 
     adjustment.  But the theoretical consistency of quantum mechanics with experimental results are undeniable.  
     Though seemingly bizzare and awkward, quantum mechanics works.  
     </q></p></h2>
  </body>    
</html>