<html>
  <body>
     <div class="center jumbotron">
         <h1><b>SCIENCE: RELATIVITY</b></h1>
     </div>
     <h2><p>The theory of relativity is divided into two parts, each derived by Albert Einstein.  The first part, known as the 
     Special Theory of Relativity describes relativistic motion without the influence of gravity.  The second part, known as the 
     General Theory of Relativity, describes relativistic motion with the influence of gravity and culminates with the conclusion that 
     the spacetime continuum is curved by mass.  The Special Theory of Relativity is not too involved, it was only brought about to make 
     Maxwell's Equations consistent with other physical theories.  The General Theory of Relativity, on the other hand, is a deep and 
     technical theory which requires a strong mathematical and physical background to full appreciate.  The General Theory of Relativity 
     encompasses the Special Theory (i.e., The Special Theory of Relativity is a Special example of the General Theory, namely in a frame 
     which does not include gravity, and hence curvature) and has been confirmed by a number of delicate experiments.  
     </p></h2>
  </body>    
  <br>
  <ul><u>Relativity Links</u>
  <li><a href=http://science.howstuffworks.com/science-vs-myth/everyday-myths/relativity.htm>How Special Relativity Works</a></li>
  <li><a href=http://www.space.com/17661-theory-general-relativity.htmlp>Einstein's General Theory of Relativity from Space.com</a></li>
  </ul>
</html>