<html>
  <body>
     <div class="center jumbotron">
         <h1><b>SCIENCE: THERMODYNAMICS AND STATISTICAL MECHANICS</b></h1>
     </div>
     <h2><p>Thermodynamics and statistical mechanics is the describes large aggregate systems of particles
     in terms of the individual constituents along with their behavior and characteristics.  When viewed collectively,
     state variables such as temperature, pressure, and density do not specifically depend on any one molecule comprising 
     the measurement, but rather the entire group of constituent particles under consideration that give rise to the 
     phenomenon.  However, many generalizations can be made of the group of particles and when interpreted from a statistical
     viewpoint theoretical conclusions can be made which match up quite well with experimental results.  Thermodynamics and 
     statistical mechanics also sneakily teaches a lot of behind the scences chemistry as well because the overall results 
     are both chemical and physical in nature.  
     </q></p></h2>
  </body>    
</html>