<% provide(:title, "About") %>
<h1>About</h1>
<h1><%= link_to image_tag("cak.jpg")%></h1><br><br>
<p>
  Christian Kelley is an Astrophysicist and Applied Mathematician who graduated
  from the University of Colorado at Boulder.  His desire to see more people 
  interested in math and science, both for casual and academic puproses, has led
  him to create this website.<br>  
  
  Feel free to contact him via e-mail: cakelley@colorado.edu
</p>