<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Feel free to contact the website administrator, Christian Kelley, with any 
  questions, comments, or concerns via e-mail:<br> cakelley@colorado.edu
</p>