<html>
  <body>
     <div class="center jumbotron">
       <h1>MATH AND SCIENCE</h1>
     </div>
     
     <div class="left">   
       <h2>Why Math and Science?</h2><br>
       <p>The United States is falling behind other countries when it comes to proficiency in mathematics and 
       scientific studies.</p>
    </div>
    
  </body>    
</html>