<html>
  <body>
     <div class="center jumbotron">
         <h1><b>MATH: ALGEBRA</b></h1>
     </div>
     <h2><p>Algebra is the most logical starting point for someone wanting to learn mathematics.  The concepts of numbers,
     counting, addition and subtraction, as well as multiplication and division are fundamental algebraic concepts.  Even more
     importantly, developing a solid foundation in the techniques and application of elementary algebra are essential because
     subsequent higher-level mathematics are structures built upon the foundation which is algebra.</p></h2>
  </body>    
</html>