<html>
  <body>
     <div class="center jumbotron">
         <h1><b>MATH: CALCULUS</b></h1>
     </div>
     <h2><p>Calculus is the culimation of years of studying algebra, geometry, and trigonometry.  What distinguishes calculus from
     these other fields of mathematics is that calculus makes mathematics fully dynamic by studying rates of change and relating
     them to appopriate variables and functions.  However, calculus is much richer than just taking static variables and incorporating
     dynamic entites by considering their rates of change, it deals with studying function behavior and considers introduces the idea
     of a limiting process to study qualitative behavior of functions as they approach certain limits that heretofore have not been 
     considered, such as division by zero and allowing functions to extend to infinity.  It is not that division by zero is allowed 
     in calculus or that infinity takes on a defined value; but the process of thinking through what happens to functions in these 
     limits is introduced and quantified by the concepts of convergence and divergence.  These concepts are encapsulated in the study 
     of infinite sequences and series, which provide conditions that allow powerful techniques to be applied </p></h2>
  
  </body>    
</html>