<html>
  <body>
     <div class="center jumbotron">
         <h1><b>MATH: TRIGONOMETRY</b></h1>
     </div>
     <h2><p>Trigonometry, at its most fundamental level, is just the study of ratios.  However, this explanation does not do
     the field of trigonometry justice.  From these ratios we can define functions that allow us to completely characterize
     a circle (of any radius, though the 'unit' circle where the radius is equal to one is usually introduced first) in terms
     of its direction.  This brings us to the precipice of not only vectors, but also calculus.  In fact, sometimes trigonometry
     is referred to as 'pre-calculus'.  It is through geometry that students are often thought to think of the divisions of a
     circle in radians, as opposed to the degrees they are most familiar with.  Below is an image of the unit circle, andn a table
     with the corresponding values of the trigonometric functions with the corresponding radian and degree measurements.  </p></h2>
  
  <%= link_to image_tag("unit circle.jpg")%>
  <%= link_to image_tag("trig values.jpg")%>
  
  </body>    
</html>