<html>
  <body>
     <div class="center jumbotron">
         <h1><b>MATH: GEOMETRY</b></h1>
     </div>
     <h2><p>Geometry is often introduced as an intermediary mathematical topic to bridge the gap between introductory
     algebra and advanced algebra or trigonometry.  Initially geometry is often taught using postulates as outlined by
     Euclid and the construction of the logical proof process is emphasized.  Many students find this approach tedious and
     abstract; which, frankly, it is.  The main point to be learned from this introductory material is the logical approach
     taken to deduce conclusions from a given set of postulates.<br><br>Geometry consists of much more than just the ideas outlined 
     in Euclid's <em>Elements</em>.  Geometry is used to derive simple formulas for areas and volumes of symmetrical objects,
     but the general case is reserved for the powerful techniques introduced in calculus.  There also exists a separate field 
     of geometry known as analytical geometry which is indespensiable in the study of astrodynamics.  Finally, when calculus
     is merged with geometry the topic of differential geometry can be introduced, upon which (Einstein's) general theory of 
     relativity is constructed.</p></h2>
  </body>    
</html>