<html>
  <body>
     <div class="center jumbotron">
         <h1><b>MATH</b></h1>
     </div>
     <div>
     <h2><p>This is the mathematics home page.  Below are links to pages with information about
     some of the exciting fields of mathematics.  </p></h2>
       <ol>
           <li><%= 'Algebra', algebra_path%></li>
       </ol>
    </div>
    
  </body>    
</html>